#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.list {
  padding: 1.5em;
  background-color: #fdfdfd;
  border-radius: 1rem;
  max-width: 450px;
  list-style-type: square;
  list-style-position: inside;
}

.list li {
  padding: 4px 8px;
}
